/*----------GLOBAL----------*/

body {
    background-color: #fdfdfd;
    font-size: 15px;
}

section {
    border-bottom: 1px solid #e6e6e6;
    padding: 30px 0;
}

h1 {
    color: #68A897;
    font-size: 40px !important;
    padding-bottom: 5px;
}

h2 {
    color: #68A897;
    font-size: 30px !important;
    padding-bottom: 5px;
}

h3 {
    color: #78C2AE;
    font-size: 25px !important;
    padding-bottom: 5px;
}

h4 {
    color: #F1969B;
    font-size: 20px !important;
}


h5 {
    color: #F1969B;
    font-size: 20px !important;
}

/*----------JUMBOTRON----------*/

#landing-view {
    background-attachment: fixed;
    background-image: url('../../images/sm_2_home.jpg');
    background-position: top;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
    z-index: 1;
}

.landing-container {
    padding-left: 0px;
    text-align: center;
}

.landing-container h1 {
    font-size: 40px !important;
    font-weight: bold;
    padding-top: 5%;
    text-transform: uppercase;
}


/*----------HEADER----------*/

.navbar {
    width: 100%;
}

/*----------FOOTER----------*/

.footer-icon {
    background-color: #78C2AE;
    color: white;
    font-size: 30px;

}

#footer-back {
    color: white;
    padding-bottom: 15px;
}

/*-----------MEDIA QUERIES----------*/

@media (min-width: 768px) {
    body,
    h1,
    h2,
    h3 {
        font-size: larger;
    }
    .svg-container {
        display: inline-block;
        overflow: hidden;
        position: relative;
        vertical-align: top;
        width: 75%;
    }
}

@media (min-width: 1200px) {
    body,
    h1,
    h2,
    h3 {
        font-size: larger;
    }
    #landing-view {
        background-attachment: fixed;
        background-image: url('../../images/md_2_home.jpg');
        background-position: top;
        background-size: cover;
        height: 100vh;
        margin-bottom: 0px;
        width: inherit;
        z-index: 1;
    }
    .landing-container {
        padding-left: 0px;
        text-align: left;
    }
}



/*-----------CHARTS----------*/

#category_stackbarchart .x.axis text,
#balance_linechart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-35deg);
}

.dc-chart .pie-slice.external,
.dc-chart .dc-legend-item,
.dc-chart .tick,
.dc-chart .barLabel {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    fill: #7a7a7a;
}

.dc-chart .chart-body {
    font-size: smaller;
}

.dc-chart .y-axis-label,
.dc-chart .x-axis-label {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    fill: #4f4f4f;
    font-size: smaller;
}

#balance_linechart svg {
    width: 90% !important;
}

.svg-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 90%;
}

.dc-select-menu {
    border-color: #F1969B;
    border-radius: 5%;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    fill: red;
    margin: 5%;
    padding: 2%;
}
